@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,500;0,700;1,300&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


$neutral-lightest = #F4F3F0
$neutral-lighter = darken($neutral-lightest, 20%)
$neutral-light = darken($neutral-lighter, 35%)

$neutral-darkest = #302B21
$neutral-darker = lighten($neutral-darkest, 10%)
$neutral-dark = lighten($neutral-darkest, 20%)

$primary = #C07754
$secondary = #D0B070

html
body
	padding 0
	margin 0
	max-width 100%

body
body *
	box-sizing: border-box

body
	font-family 'Barlow', sans-serif
	font-size 16px
	line-height 1.6em
	font-optical-sizing auto
	letter-spacing: 0.015em
	font-weight 400
	font-style normal
	color $neutral-darker
	background-color $neutral-darkest

.app
	background-color white
	padding 0
	margin 0
	min-height 100vh
	display: flex
	flex-direction: column
	
	

	.trick ~ &
		padding-top 180px

		.nav

			.content
				flex-wrap wrap
				justify-content center

				.logo
					justify-content center

			&.fixed
				.content
					flex-wrap nowrap

					.logo
						justify-content flex-start

		&.noPad
			padding-top 96px

	
.page
	padding 120px 16px 0
	background-color white
	display flex
	flex-direction: column
	align-items: center
	flex 1 0 auto

	>.content
		display flex
		flex-direction: column
		align-items: center

p
	margin 0 0 8px 0
	padding 0

h1
	font-weight 200
	font-size 48px
	line-height 1em
	letter-spacing: -.04em
	color $primary
	width auto
	margin 0 0 32px 0
	padding 0
	display: inline-flex

h2
	font-size 28px
	line-height: 1.2em
	font-weight 400
	font-style: italic
	color $neutral-light
	letter-spacing 0
	margin 0
	padding 0

h3
	font-size 18px
	line-height: 1.2em
	font-weight 500
	color $neutral-darkest
	letter-spacing 0
	margin 16px 0 0
	padding 0

h4
	font-size 16px
	line-height: 1.2em
	font-weight 400
	font-style: italic
	color $neutral-light
	letter-spacing 0
	margin 0
	padding 0

h1
h2
h3
h4
	text-transform: capitalize

.content
	max-width: 100vh
	// padding 16px
	width 100%

footer
	background-color $neutral-darkest
	color $neutral-lightest
	font-size: 12px
	padding 16px
	
	ul
		list-style none
		display: flex
		flex-wrap: wrap
		justify-content: center
		padding 0
		margin 0

	li
		padding 0 8px
		margin 0

		&:first-child
			width 100%
			text-align center

.row
	display flex

	&.center
		justify-content: center

	&.middle
		align-items: center

	&.right
		justify-content: flex-end

	&.wrap
		flex-wrap: wrap

.column
	display flex
	flex-direction: column

	&.center
		align-items: center

.nav
	background-color white
	position fixed
	z-index 9
	top 0
	left 0
	width 100%
	
	.content
		border-bottom thin solid $neutral-lighter
		
		.logo
			margin-right auto
			justify-content flex-start
			img
				width 200px
				height auto

	ul
		flex 0 0 auto
		padding 0
		margin 0
		list-style none
		li
			padding 0
			margin 0
			a
				flex 0 0 auto

	a
		text-decoration: none
		padding-right 24px
		color $neutral-darkest
		font-size 14px
		font-weight: 500
		text-transform: uppercase
		
		&.active
			color $primary


.filters
	width 100%
	max-width 100%
	background-color $neutral-lightest
	padding 16px 24px
	border-radius 4px
	margin 16px 0 32px
	z-index 8

	&.fixed
		position fixed
		border-top-left-radius 0
		border-top-right-radius 0
		top 40px
		left 50%
		transform translateX(-50%)
		max-width: 100vh

	.close
		height 40px
		width 40px
		margin-top 8px
		justify-content: center
		color $neutral-darker
		&:hover
			color $primary
		&.disabled
			color $neutral-lighter
			cursor initial
			pointer-events: none


.cart
	position relative
	.cartCounter
		display flex
		height 20px
		width 20px
		background-color $primary
		color white
		position absolute
		align-items center
		justify-content: center
		border-radius: 50%
		font-size 10px
		line-height 1em
		font-weight: 700
		top -12px
		left 12px

.svg-inline--fa
	height 20px

.field
	flex 1 1 50%
	position relative
	padding 8px 0 0 0
	margin: 0 16px 8px 0
	display: flex
	align-items: center

	.svg-inline--fa
		height 14px
		color $neutral-light
		position absolute
		top 20px
		right 12px
		z-index 1


	&.w190
		flex 0 0 auto
		width: 190px

	&.checkbox
		width auto
		flex 0 0 auto

	&:last-child
		margin-right: 0

	label
		position absolute
		top 1px
		left 6px
		font-size 14px
		border-bottom: thin solid white
		line-height 1em
		height 8px
		overflow visible
		font-weight 500
		padding 0 4px 
		color $neutral-light

	&.group

		&.expandable
			height 40px
			overflow: visible
			flex-direction: column

			.tag-search
				width: 100%
			
			.options
				transition background ease-in-out 200ms, max-height ease-in-out 200ms
				height auto
				flex 0 0 auto
				max-height 0px
				opacity 0

			&:hover
				overflow: visible
				align-items: flex-start
				max-height 48px

				.options
					opacity 1
					background-color white
					max-height 400px
					padding-bottom 8px

		label
			border-color $neutral-lightest
	&.quantity
		width 100px
		flex 0 0 auto

	input
	select
		width 100%
		
		&:disabled ~ label
			color $neutral-lighter
			border-color $neutral-lightest
			cursor: initial

		&:disabled ~ .svg-inline--fa
			color $neutral-lighter

	input[type=checkbox]
		position absolute
		z-index 3
		opacity 0
		border none
		pointer-events: all

		& ~ label
			position relative
			top unset
			left unset
			border-bottom none
			height auto
			padding-left: 32px
			color $neutral-light

			&::after
			&::before
				pointer-events: none
				content: ''
				display: block
				position absolute

			&::after
				left 0
				top calc(50% - 13px)
				height 24px
				width 24px
				background-color white
				border-radius 4px
				border thin solid $neutral-lighter
				z-index 1
			
			&::before
				height 6px
				width 6px
				border-bottom 2px solid $primary
				border-right 2px solid $primary
				left 9px
				top -2px
				transform rotate(90deg)
				z-index 2
				opacity 0
				transition: transform ease-in-out 100ms, height ease-in-out 100ms


		&:checked ~ label
			color $neutral-dark

			&::before
				height 12px
				transform rotate(45deg)
				opacity 1


	.options
		width 100%
		border thin solid $neutral-lighter
		border-radius 0 0 4px 4px
		padding-top 6px
		padding-left 8px
		border-top none

.clear-button
	position absolute
	top 8px
	right 0
	.svg-inline--fa
		height: 20px
		top 10px
		right 8px

.tag
	border thin solid $neutral-lighter
	display: inline-flex
	height 24px
	font-size 14px
	color $neutral-dark
	background-color white
	border-radius 16px
	padding 0 8px 1px
	align-items center
	font-weight 500
	cursor pointer
	text-transform: capitalize
	margin 0 4px 0 0
	opacity .7
	transition background ease-in-out 200ms, opacity ease-in-out 200ms

	&.selected
		background-color $primary
		color white
		opacity 1
	


input
select
button
	-webkit-appearance: none
	display inline-flex
	align-items: center
	outline 0
	height 40px
	border-radius: 4px
	font-family: inherit
	margin 0

button
	padding 0
	flex 0 0 auto
	border none
	background-color transparent

	&.primary
		background-color: $neutral-darker
		margin 0 8px 8px 0
		color white
		padding 0 12px
		text-transform: uppercase
		font-weight: 700
		font-size: 16px
		letter-spacing: 0.03em
		
		&:hover
			background-color: $neutral-darkest
		&:last-child
			margin-right 0



input
select
	font-size: inherit
	font-weight: inherit
	background-color white
	color: inherit
	width 100%
	border thin solid $neutral-lighter
	padding 0 8px 0 12px
	&:disabled
		background $neutral-lightest
		cursor: initial

select
button
	cursor pointer


.product-card
	width calc(33.33% - ((32px * 2) /3))
	margin 0 32px 32px 0

	a
		text-decoration none

	&:nth-child(3n)
		margin-right 0

	h3
		flex 1 1 auto
		padding-right: 8px

	p
		padding 0
		margin 0

	.info
		padding 0 8px

	.price
		margin 16px 0 0
		flex 0 0 auto

	.product-images
		width 100%
		padding-top: 100% 
		border thin solid $neutral-lightest
		position relative
		overflow hidden
		border-radius 4px

		img
			display: block
			height 100%
			width 100%
			object-fit: cover
			position absolute
			top 0
			left 0
			&:last-child
				left 100%
				transition: left ease-in-out 200ms, transform ease-in-out 600ms
	&:hover
		.product-images
			img
				&:last-child
					left 0
					transform scale(1.2)

.price
	font-size: 18px
	line-height: 1.2em
	font-weight: 500
	color $neutral-darkest
	span
		font-size 14px
		font-weight: 500
		color $neutral-light

.prePrice
	p
		margin-bottom 0
		margin-right 16px
		margin-top 4px

	.times
		font-size 14px
		font-weight: 500
		color $neutral-light
		display block
		margin-right 16px

	
.product-detail
	width 100%


	.product-info
	.product-images
		width 100%
		flex 0 0 50%

	.product-info
		padding 16px 24px
		h1
			margin 0 0 16px 0


	.product-images
		border thin solid $neutral-lighter
		border-radius 4px


.classification
	background-color $neutral-lightest
	margin 16px 0
	padding 8px 16px
	border-radius: 4px
	color $neutral-dark
	display inline-flex
	width fit-content
	p
		margin 0 16px 0 0
		font-size 14px
		&:last-child
			margin-right 0

.fullwidth
	width 100%

.dimensions
	font-size 14px
	span
		margin-right 2px

.total
	border-top thin solid $neutral-lighter
	margin-top 32px
	padding-top 24px
	padding-left 16px

	.price
		margin-right: 8px
		font-size 140%

.prevPrice
.offer
	margin-right 8px
	font-weight: 500
.prevPrice
	color $primary
	position relative
	margin-top 6px
	&::before
		content ''
		position absolute
		display block
		border-bottom thin solid
		height 1px
		width 100%
		transform rotate(-10deg) translateY(12px)
.offer
	margin-top 4px
	display block
	background $primary
	padding 0 4px
	font-size 14px
	color white
	border-radius: 4px
	